@font-face {
    font-family: "lt-icon"; /* Project id 2990404 */
    src: url('//at.alicdn.com/t/c/font_2990404_o65ex5gpqxb.woff2?t=1662090250809') format('woff2'),
    url('//at.alicdn.com/t/c/font_2990404_o65ex5gpqxb.woff?t=1662090250809') format('woff'),
    url('//at.alicdn.com/t/c/font_2990404_o65ex5gpqxb.ttf?t=1662090250809') format('truetype');
}

.lt-icon {
    font-family: "lt-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lt-redux-store:before {
    content: "\e68c";
}

.lt-shouye:before {
    content: "\e612";
}
