@import "variable";
@import "element";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;

    > div, main {
        width: 100%;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px; /* 滚动条轨道圆角 */
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px; /* 滚动条滑块圆角 */
}
