:root {
    --theme-bg: #fff; // 主题背景色
    --aside-bg: #000; // 侧边栏背景
    --primary-text-color: rgba(0,0,0,0.85); // 主文本颜色
    --sub-text-color: rgba(0,0,0,0.45); // 次文本颜色
    --hightlight-text-color: #409eff;
    --hover-bg: rgba(0,0,0,0.1)
}
